.heading {
  font-size: 40px;
  font-family: "adineue PRO Cyr Bold";
  color: black;
  line-height: 1;
}
.reward {
  width: 40%;
}
.button_container {
  border: 2px black solid;
  width: 153px;
  height: 40px;
}
.button {
  position: relative;
}
.button > button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  left: -5px;
  top: -5px;
  position: absolute;
  border: 0;
  background-color: black;
  color: white;
  padding: 8.5px 5px;
  padding-right: 7px;
  transition: all 0.3s;
}
.button > button:hover {
  color: gray;
}

.arrow {
  display: flex;
  align-items: baseline;
  gap: 49px;
}

@media only screen and (max-width: 640px) {
  .reward {
    width: 80%;
    margin-top: 50px;
  }
}
