.card-group-shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}
.card-shop img {
  width: 100%;
  position: absolute;
  z-index: -123;
}

.card-title-who h5 em {
  font-size: 30px;
  color: black;
}

.card-shop-container {
  margin: 0 3%;
  margin-top: 30px;
}

.card-shop {
  position: relative;
  cursor: pointer;
}
.center-tag {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  padding: 35% 0;
}
