.video-wrapper {
  position: relative;
  /* background-color: aqua; */
}
.div-brutal-wrapper-vid {
  position: absolute;
  top: 400px;
  left: 200px;
}
.div-brutal-vid {
  position: relative;
  border: 1px solid black;
  display: block;
  width: 154px;
  height: 49px;
}
.button-brutal-vid {
  border: none;
  position: absolute;
  padding: 10px 18px;
  border: none;
  background: black;

  top: -3px;
  left: -3px;
}

.button-brutal-vid a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.button-brutal-vid a:hover {
  color: rgb(113, 111, 111);
}

.text-wrapper-home {
  position: absolute;
  top: 195px;
  left: 200px;
  z-index: 9869;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.text-wrapper-home div {
  padding: 0;
  margin: 0;
}

.text-wrapper-home span {
  padding: 0;
  font-size: 45px;
  font-weight: 700;
}
