.popular-div {
  text-align: center;

  margin-top: 50px;
}

.pop-center {
  text-align: center;
}
.pop-center h5 {
  font-size: 35px;
  color: black;
}
.popular-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.popular-buttons button {
  background-color: transparent;
  border: 1px solid rgb(201, 201, 201);

  padding: 7px 15px;
}
